.field {
  margin-bottom: 1.5rem;
}
.input-width,
.p-password input {
  width: 14rem;
}
.signup-container {
  padding: 2rem;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
